body {
    font-family: Arial, sans-serif;
  }
  
  .navbar-brand {
    font-weight: bold;
  }
  
  .footer {
    background-color: #f8f9fa;
    padding: 1rem;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  
  .mt-4 {
    margin-top: 1.5rem !important;
  }
  
  .list-group-item {
    margin-bottom: 1rem;
  }
  